.header {
    width: 100%;
    position: fixed;
    height: 100px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 3;
    transition: all .3s;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100% - 64px);
}

.header__list {
    display: flex;
    color: white;
    font-family: "DM Sans", sans-serif;
    justify-content: space-between;
}
.header__list > li {
    padding: 12px;
    font-size: 16px;
}

.header__list > li:hover > a {
    transition: color .4s;
    color: rgb(99, 125, 255);
}

.header__button {
    background-color: var(--color-blue);
    box-shadow: rgba(255, 255, 255, 0.28) 4px 4px 18px 0 inset;
    width: 110px;
    border-radius: 50px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
}

.header__button2 {
    background-color: var(--color-blue);
    box-shadow: rgba(255, 255, 255, 0.28) 4px 4px 18px 0 inset;
    width: 110px;
    border-radius: 50px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 930px) {
    .header__nav, .header__button {
        display: none;
    }
}

.header__menu {
    position: fixed;
    top: 100px;
    left: 0;
    width: calc(100% - 64px);
    background-color: rgba(0, 0, 0, 0.90);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    padding: 0 32px;
    height: 0;
    overflow: hidden;
    transition: all .4s;
    display: none;
    z-index: 3;
}

.header__menu > .header__list {
    flex-direction: column;
    align-items: center;
}

@media (max-width: 576px){
    .header > .container, .header__menu {
        width: calc(100% - 40px);
    }
    .header__menu {
        padding: 0 20px;
    }
}

.hamburger:has(.hamburger__checkbox:checked) + .header__menu {
    height: 220px;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 930px) {
    .header__menu {
        display: block;
    }
}