.main {
  position: relative;
  top: 100px;
  opacity: 1;
  background-image: url("../assets/wave.png");
  background-size: cover;
  -webkit-box-shadow: inset 0px -76px 44px -55px rgb(0, 0, 0);
          box-shadow: inset 0px -76px 44px -55px rgb(0, 0, 0);
  width: 100%;
  padding: 100px 0 100px 0;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__upper {
  font-size: 17px;
  padding: 10px 20px;
  width: 65%;
  display: inline;
  background-color: rgba(0, 111, 255, 0.16);
  border: var(--color-blue) 1px solid;
  border-radius: 20px;
  text-align: center;
  color: #e8e8e8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media (max-width: 1400px) {
  .main__upper {
    font-size: 15px;
  }
}
@media (max-width: 1250px) {
  .main__upper {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .main__upper {
    font-size: 13px;
  }
}
.main__text {
  font-weight: 800;
  text-align: center;
  font-size: 56px;
  line-height: 1.2em;
  margin: 10px 0 30px;
}
@media (max-width: 1400px) {
  .main__text {
    font-size: 45px;
    line-height: 1.5em;
  }
}
@media (max-width: 1250px) {
  .main__text {
    font-size: 35px;
  }
}
@media (max-width: 900px) {
  .main__text {
    font-size: 30px;
  }
}
@media (max-width: 770px) {
  .main__text {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .main__text {
    font-size: 20px;
  }
}
.main .blur {
  z-index: -1;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 100px;
  left: 50%;
  background-color: rgba(0, 51, 255, 0.51);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}
@media (max-width: 1400px) {
  .main .blur {
    top: -100px;
  }
}
@media (max-width: 900px) {
  .main .blur {
    top: 0;
  }
}
@media (max-width: 770px) {
  .main .blur {
    top: 100px;
  }
}
@media (max-width: 500px) {
  .main .blur {
    top: 150px;
  }
}